* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffe5b4;
    color: #003153;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

a {
    color: #003153;  
}
img {
    max-width: 100%;
}

ul {
    list-style: none;
}

#main-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8B4000;
}

#main-menu li {
    display:block;
    width: 120px;
    float: left;
    margin-left: 2px;
   border: 1px solid #8B4000;
}

#main-menu a {
display:block;
padding:3px;
text-decoration: none;
background-color: #8B4000;
color:bisque;
}

#main-menu a:hover {
    background-color: #ffe5b4;
    color: #8B4000;
}

.container {
    display: flex;
    align-items: left;
    justify-content: normal;
}

.image {
    size: 2500px;
    padding-left: 20px;
}



main {
 text-align: center;
}

main { padding-top: 50px;}

.aboutmetext {
    font-size: 16pt;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 50px;
    text-align: left;
}
.projectinfo {
    font-size: 16pt;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center; 
    padding-bottom: 20px;
}
.undergrad {
    font-size: 16pt;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center; 
}

#footer ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #8B4000;
}

#footer li {
    display:block;
    width: 120px;
    float: left;
    margin-left: 2px;
   border: 1px solid #8B4000;
}

#footer a 
{display:block;
    padding:3px;
    text-decoration: none;
    background-color: #8B4000;
    color:bisque;
}

label {
    display:block;
    font-weight: 700;
    margin-bottom: 0.5em;
    
}

.form-input {
font-size: 12pt;
margin-bottom: 1.5em;
padding: 1em;
font-weight: 400;
width: 100%;
border: 2px solid #8B4000;
margin-left: 10em;
margin-right: 10em;
}

[type="submit"] {
    background:#003153;
    color:#ffe5b4;
    width: 100%;
    font-size: 1.5em;
    font-weight:700;
    letter-spacing:1px;
    padding: 0.5em;
    margin-left:10em;
    margin-right:10em;
}

.error{
    border-color: red;
}
.error-message{
    color: red;
    margin: -1em 0 1.5em;

}

iframe {
    padding: 20px;
}